<header class="siteHeader">
	<div class="logo">
		<a class="brandLink" href="{{ '/' | relative_url }}" target="_self" aria-label="{{ site.app_name }} home">
			{% if site.app_icon %}
				<img class="headerIcon" src="{{ site.app_icon | relative_url }}" alt="{{ site.app_name }} icon">
			{% else %}
				<img class="headerIcon" alt="{{ site.app_name }} icon">
			{% endif %}
			<div class="brandCopy">
				<p class="headerName">{{ site.app_name }}</p>
				<p class="headerTag">{{ site.brand_tagline | default: site.hero_eyebrow }}</p>
			</div>
		</a>
	</div>
	<nav class="scroll" aria-label="Primary">
		<ul>
			<li><a href="{{ '/' | relative_url }}#how-it-works" target="_self">Demo</a></li>
			<li><a href="{{ '/' | relative_url }}#risk" target="_self">Risks</a></li>
			<li><a href="{{ '/' | relative_url }}#difference" target="_self">Why BeforeShare</a></li>
			<li><a href="{{ '/' | relative_url }}#download" target="_self">Download</a></li>
		</ul>
	</nav>
</header>
